div {
  width: 100px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  position: relative;
  animation-name: box;
  animation-duration: 4s;

}

@keyframes box {
  0%   {background-color:red; left:0px; top:0px;}
  10%  {background-color: purple; left: 20px; top: 5px;}
  25%  {background-color:yellow; left:40px; top:10px;}
  30%  {background-color: aqua; left: 400px; top: 100px;}
  40%  {background-color: coral; left: 500px; top: 300px;}
  50%  {background-color:blue; left:600px; top:700px;}
  60%  {background-color: darkred; left: 550px; top 400px;}
  75%  {background-color:green; left:30px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

@keyframes circle {
  0% {background-color: aliceblue; left: 0px; top: 0px;}
  5% {background-color: aqua; left: 10px; top 5px;}
  10% {background-color: aquamarine; 50px; top 45px;}
  
}